.navBar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: hsl(var(--background) / 0.8);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  gap: 45px;
  height: 55px;
  align-items: center;
}

.imgBanner {
  margin-top: -24px;
  filter: brightness(60%); /* makes image slightly dim */
  max-height: 400px;
}

header {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}

#title {
  font-size: 48px;
  letter-spacing: 3px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}
